@model web.Models.Gameweeks

@{
    ViewBag.Title = "Gameweeks";
}

<div class="jumbotron">

    <div class="overflow: hidden;">
        @foreach (var gw in Model.GameweekCount)
        {
            if (gw == Model.GameweekSelected)
            {
                <div style="float: left; margin-right: 5px;">@gw</div>
            }
            else
            {
                <div style="float: left; margin-right: 5px;">
                    @Html.ActionLink(gw.ToString(), "Gameweeks", new { gameweek = gw })
                </div>
            }

        }
    </div>
    
    <hr/>

    <table style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Poing</th>
                <th>Benk</th>
                <th>Bytter</th>
                <th>Gebyr</th>
                <th>Brutto</th>
                @*<th>Mål</th>*@
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
            @foreach (var gw in Model.LeagueGameweek)
            {
                <tr>
                    <td>@i</td>
                    <td>@gw.TeamName</td>
                    <td>@gw.PointsExcludedTransferCosts</td>
                    <td>@gw.PointsOnBench</td>
                    <td>@gw.Transfers</td>
                    <td>@gw.TransferCosts</td>
                    <td>@gw.Points</td>
                    @*<td>@gw.ScoredGoals</td>*@
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
